* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(75, 38, 29);
}

main {
    margin: 0 auto;
    margin-top: 8.5rem;
    max-width: 1000px;
}

h2 {
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}

.entries {
    margin: 2em 7%;
}

.entry {
    background-color: bisque;
    border-radius: 30px;
    margin: 2em auto;
    padding: 2em;
}

h3 {
    line-height: 3em;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    max-height: 800px;
    max-width: 100%;
    text-align: center;

    border-radius: 30px;
    transition: all .1s;
}

img:hover {
    border-radius: 0;
    transition: all .1s;
}

.img {
    display: block;
    text-align: center;
}

.imagery1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.imagery2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .imagery2 {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}