* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: rgb(75, 38, 29);
}

header {
    position: fixed;
    height: 4em;
    width: 100%;
    background-color: bisque;
    top: 0;
    padding: 1em;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.5rem;    
}

header a {
    font-family: 'Noto Sans Display', sans-serif;
    text-decoration: none;
    color: rgb(75, 38, 29);
}

header a:hover {
    color: rgb(75, 38, 29);
}

.nav {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    gap: 2em;
    max-width: 500px;
    margin: 0 auto;

}