* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 3%;
}

header {
    padding: 1.5em 0;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0em;
    justify-content: space-between;
    max-width: 96%;
}

a, a:hover {
    color:rgb(41, 41, 41);
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    letter-spacing: .2em;
    text-decoration: none;
}

.title, .title:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1em;
}

.nav2 {
    display: flex;
    gap: 2.5em;
}

.hamburger {
    width: max-content;
    display: none;
}

.patty {
    width: 23px;
    height: 1px;
    background: rgb(41, 41, 41);
    margin: 6px 0 ;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    width: 100%;
    
}

.hover-card {
  position: relative;
  display: grid;
  height: 100%;
  width: 1fr;
  aspect-ratio: 3/2;;
}

.hover-card:hover .overlay {
  opacity: .95;
}

.overlay {
  background: #fff;
  color: rgb(41, 41, 41);
  text-align: center;
  letter-spacing: 0em;

  display: grid;
  opacity: 0;
  place-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  transition: all .2s;
}

.hover-card img {
  display: grid;
  height: 100%;
  width: 100%;
  object-fit: cover;
  place-items: center;
  position: relative;
  overflow: hidden;
}


@media only screen and (max-width: 768px) {
    .nav2 {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1050px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}