body {
    background: rgb(86, 165, 235);
    color: rgb(40, 76, 107);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header, footer {
    background: rgb(40, 76, 107);
    color: rgb(159, 201, 238);
    padding: 2rem;
    text-align: center;
}

header h1, footer {
    font-family: 'Istok Web', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
}

header h2 {
    font-family: 'Istok Web', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem auto;
}

a {
    color: rgb(86, 165, 235);
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 3rem;
    text-decoration: none;
}

a:visited {
    color: rgb(86, 165, 235);
}

a:hover {
    color: rgb(159, 201, 238);
    text-decoration: underline;
}

footer a {
    font-size: 1.5rem;
}

main {
    margin: 0 auto;
    max-width: 100rem;
    padding: .5rem;
}

section {
    border-left: .5rem solid rgb(40, 76, 107);
    margin: 3rem auto;
    max-width: 50rem;
}

section h3 {
    background: rgb(68, 130, 184);
    font-style: italic;
    margin: 0;
    padding: .5rem;
}

section p {
    background: rgb(159, 201, 238);
    line-height: 1.25rem;
    margin: 0;
    padding: .5rem;
}

div {
    margin: auto;
    text-align: center;
}

img {
    border-radius: 3%;
    margin: 1rem;
    height: 400px;
    width: auto;
}