body {
    background-image: url("https://t3.ftcdn.net/jpg/03/26/11/58/360_F_326115834_mLoiF4v29uqYcTa7mOQHbPEMU6BW4xng.jpg");
    text-align: center;
    margin: 0em;
    position: relative;
    font: 1rem 'Montserrat', sans-serif;
    color: rgb(65, 25, 13)
}

section {
    background-color: rgba(255, 199, 188, 0.689);
    margin: 2em auto;
    margin-bottom: 10em;
    padding: 2em;
}

h1 {
    font: 2.75rem 'Norican', cursive;
    padding: 1em;
}

h2 {
    margin: 0;
    font: 2rem 'Norican', cursive;
}

img {
    height: 15rem;
    margin: 1rem 1rem;
}

a img {
    border: #634a33 solid .25rem;
    border-radius: 10%;
}

ul {
    text-align: left;
    margin: auto;
}

.him {
    margin-bottom: 20em;
}

footer {
    position: fixed;
    margin: 0em;
    bottom: 0em;
    /*I don't know why I couldn't center it. I tried a lot of ways...*/
}

div {
    position: absolute;
}

div img {
    height: 10em;
}

.one {
    left: 5vw;
    top: 11rem;
}

.two {
    right: 5vw;
    top: 27rem;
}

.three {
    left: 5vw;
    bottom: 108rem;
}

.four {
    right: 10vw;
    bottom: 4rem;
}